    <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-10">
            <p-dataTable [value]="restaurantsList" [rows]="50" [paginator]="true">
                <p-column field="restaurant_id" header="Code" [style]="{'width':'10%'}"></p-column>
                <p-column field="name" header="Name" [sortable]="true" [style]="{'width':'40%'}"></p-column>
                <p-column field="cuisine" header="Cuisine" [sortable]="true" [style]="{'width':'40%'}"></p-column>
                <p-column styleClass="" [style]="{'width':'15%'}">
                    <ng-template let-restaurant="rowData" pTemplate="body">
                        <button md-raised-button color="primary" pButton (click)="onSelect(restaurant._id)">View Details</button>
                      </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="col-md-1">
        </div>
     </div>









